canvas {
    display: inline-block;
    border: 1px solid grey;
}
#first-canvas{
    display: inline-block;
    margin-left: 6%;
}
#second-canvas{

    display: inline-block;
}

aside {
    display: inline-block;
    width: 27%;
    vertical-align: top;
    text-align: center;
}

aside div {
    padding: 1%;
    margin-bottom: 12.5%;
}

h2 {
    width: 400px;
    text-align: center;
    border:1px solid grey;
}

#play-button{
    padding: 5% 30%;
    font-size: xx-large;
    font-weight: bold;
}

button:hover{
    color:white;
    background-color: darkslategrey;
}


#rand-color1{
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(360deg);
    }
}

#rand-color2  {
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: colours;
    -webkit-animation-timing-function: ease;
}

@-webkit-keyframes colours {
    0% {color: #39f;}
    15% {color: #8bc5d1;}
    30% {color: #f8cb4a;}
    45% {color: #95b850;}
    60% {color: #944893;}
    75% {color: #c71f00;}
    90% {color: #bdb280;}
    100% {color: #39f;}
}